.card {
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;
}

.content {
    padding: 1rem;
}

.content p {
    font-size: .8rem;
    margin: .5rem auto;
    font-weight: lighter;
}

.tags {
    display: flex;
    gap: 8px; /* Spazio tra i tag */
}

.tag {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 12px;
    color: #333;
}