.card {
    background-color: white;
    border-radius: .5rem;

}

.card img {
    border-radius: .5rem .5rem 0 0;
    height: auto;
}

.content {
    padding: 1rem;
}

.content p {
    font-size: .8rem;
    margin: .5rem auto;
    font-weight: lighter;
}